<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazon.com. Spend less. Smile more.</title>
    <link rel="icon" href="resource/image/icon.png" />
    <link rel="stylesheet" href="/assets/css/cart.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
   
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="nav-bar">
        <div class="nav__left">
          <div class="box-img box">
            <a href="#">
              <img
                src="/resource/image/logo.png"
                alt=""
                class="header__logo-img"
              />
            </a>
          </div>
          <div class="nav__left-location box">
            <div class="location-icon">
              <i class="fa-solid fa-location-dot" style="color: white"></i>
            </div>
            <div class="location-national">
              <p class="national-text1">Deliver to</p>
              <p class="national-text2">Vietnam</p>
            </div>
          </div>
        </div>
        <div class="nav__search">
          <select name="" id="" class="nav__search-select">
            <option value="">All</option>
          </select>
          <input type="text" class="nav__search-input" />
          <button class="nav__search-btn">
            <i class="nav__search-input-icon fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
        <div class="nav__right">
          <a href="">
            <div class="language box">
              <img
                src="resource/image/c-e1-bb-9d-vi-e1-bb-87t-nam-qu9u-bt_c5f68d00deb342b6a14586945d4f02e4_master.webp"
                alt=""
                class="language-flag"
              />
              <p class="country-name">
                VN
                <i class="fa-solid fa-caret-down icon-down"></i>
              </p>
            </div>
          </a>
          <a href="">
            <div class="singin box">
              <p class="text1">Hello, singin</p>
              <p class="text2">
                Accounts & Lists
                <i class="fa-solid fa-caret-down icon-down"></i>
              </p>
            </div>
          </a>
          <a href="">
            <div class="return-order box">
              <p class="text1">Returns</p>
              <p class="text2">& Orders</p>
            </div>
          </a>
          <a href="">
            <div class="cart box">
              <i class="fa-solid fa-cart-shopping cart-icon"></i>
              <span class="cart-qty">9</span>
              <p class="text2">Cart</p>
            </div>
          </a>
        </div>
      </div>
    </header>
    <div class="panel">
      <ul class="panel-menu">
        <li class="">
          <a href="#" class="box-panel"
            ><i class="fa-solid fa-bars icon-bar"></i> All</a
          >
        </li>
        <li>
          <a href="#" class="box-panel">Today's Deals</a>
        </li>
        <li>
          <a href="#" class="box-panel">Customer Service</a>
        </li>
        <li>
          <a href="#" class="box-panel">Registry</a>
        </li>
        <li>
          <a href="#" class="box-panel">Gift Card</a>
        </li>
        <li>
          <a href="#" class="box-panel">Sell</a>
        </li>
      </ul>
    </div>
    <!-- End header -->

    <!-- Main  -->
    <main>       
            <div class="main-cart">
                <div class="main-cart-right">
                    <h2>Shopping Cart</h2>
                    <a href="">Deselect all items</a>
                    <hr style="size:2px;color:rgba(128, 128, 128, 0.24)">
                </div>
                <div class="main-cart-left">
                    <div class="box-checkout">
                        <p class="subtotal">Subtotal <span>(5 items)</span>: <span class="cost">$990.87</span>
                        </p>
                        <a href="" class="checkout-btn">
                            Proceed to checkout
                        </a>
                    </div>
                    <div class="recently-viewed">
                          
                    </div>
                </div>
            </div>
    </main>
    <!-- End Main -->
    <footer>
      <a href="">
        <div class="back-top">
          <p>Back to top</p>
        </div>
      </a>
      <div class="main-footer">
        <div class="main-footer-col">
          <p class="col-text">Get to Know Us</p>
          <ul>
            <li><a href="">Careers</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">About Amazon</a></li>
            <li><a href="">Investor Relations</a></li>
            <li><a href="">Amazon Devices</a></li>
            <li><a href="">Amazon Science</a></li>
          </ul>
        </div>
        <div class="main-footer-col">
          <p class="col-text">Make Money with Us</p>
          <ul>
            <li><a href="">Sell products on Amazon</a></li>
            <li><a href="">Sell on Amazon Business</a></li>
            <li><a href="">Sell apps on Amazon</a></li>
            <li><a href="">Become an Affiliate</a></li>
            <li><a href="">Advertise Your Products</a></li>
            <li><a href="">Self-Publish with Us</a></li>
            <li><a href="">Host an Amazon Hub</a></li>
            <li><a href="">See More Make Money</a></li>
          </ul>
        </div>
        <div class="main-footer-col">
          <p class="col-text">Amazon Payment Products</p>
          <ul>
            <li><a href="">Amazon Business Card</a></li>
            <li><a href="">Shop with Points</a></li>
            <li><a href="">Reload Your Balance</a></li>
            <li><a href="">Amazon Currency Converter</a></li>
          </ul>
        </div>
        <div class="main-footer-col">
          <p class="col-text">Let Us Help You</p>
          <ul>
            <li><a href="">Amazon and COVID-19</a></li>
            <li><a href="">Your Account</a></li>
            <li><a href="">Your Orders</a></li>
            <li><a href="">Shipping Rates & Policies</a></li>
            <li><a href="">Returns & Replacements</a></li>
            <li><a href="">Manage Your Content and Devices</a></li>
            <li><a href="">Amazon Assistant</a></li>
            <li><a href="">Help</a></li>
          </ul>
        </div>
      </div>

      <hr style="size: 0.1px" />
      <div class="copyright-footer">
        <img src="/resource/image/logo.png" alt="" class="copyright-img" />
      </div>
    </footer>
   <script src="assets/js/app.js"></script>

  </body>
</html>
